<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form action="#" th:action="@{/student/submit}" method="post" th:object="${student}" class="col-md-8">
            <p>First name: <input type="text" th:field="*{firstName}" class="form-control border-3" required></p>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">First name error</p>
            <p>Second name: <input type="text" th:field="*{secondName}" class="form-control border-3" required></p>
            <p th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}" class="text-danger">Second name error</p>
            <p>Last name: <input type="text" th:field="*{lastName}" class="form-control border-3" required></p>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Last name error</p>
            <!--<p>Date of birth: <input type="date" th:field="*{birthDay}" class="form-control border-3" required></p>
            <p th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}" class="text-danger">BirthDay error</p>
            <p>Email: <input type="email" th:field="*{email}" class="form-control border-3" required></p>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">email error</p>
            <p>Phone number: <input type="text" th:field="*{phoneNumber}" class="form-control border-3" required></p>
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger">Phone number error</p>
            <p>Description: <input type="text" th:field="*{description}" class="form-control border-3" required></p>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Description error</p>-->
            <input type="submit" value="Save" class="btn btn-outline-success">
            <a href="/choose-role" class="btn btn-outline-secondary">Back</a>
        </form>
    </div>
</body>
</html>